body {
  background: url("../images/background/color-line.png") repeat-x scroll 0 0 white;
  padding-top: 4px; }

body {
  font-size: 11px;
  font-family: Verdana, Geneva, sans-serif; }

#page-content {
  max-width: 960px;
  margin: 40px auto 0;
  padding: 0 1em; }

.section-bar {
  background: url("../images/announcements/title.bg.png") no-repeat 0 0;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin: 0.67em 0;
  padding-left: 1em;
  font-weight: bold;
  font-size: 1.16em;
  color: #fff; }

#evicition-notification-container {
  font-size: 1.090em; }
  #evicition-notification-container p {
    font-size: 1.090em; }
  #evicition-notification-container .eviction-option-container {
    float: right; }
  #evicition-notification-container .eviction-option {
    margin: 0 0.2em; }
  #evicition-notification-container .ok {
    font-weight: bold; }
