<phpunit bootstrap="./integration/bootstrap.php" backupGlobals="false" processIsolation="false">
    <php>
        <ini name="display_errors" value="1" />
        <ini name="memory_limit" value="256M" />
    </php>
    <testsuites>
        <testsuite name="unit" >
            <directory>./unit</directory>
        </testsuite>
        <testsuite name="integration" >
            <directory>./integration</directory>
        </testsuite>
        <testsuite name="module application unit" >
            <directory>../../module/Application/tests/php/ApplicationTest/unit/</directory>
        </testsuite>
        <testsuite name="module console unit" >
            <directory>../../module/Console/tests/ConsoleTest/unit/</directory>
        </testsuite>
        <testsuite name="module service unit" >
            <directory>../../module/Service/tests/ServiceTest/unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../../src</directory>
            <directory suffix=".php">../../Service</directory>
            <directory suffix=".php">../../Model</directory>
            <directory suffix=".php">../../module/Application/src</directory>
            <directory suffix=".php">../../module/Console/src</directory>
            <directory suffix=".php">../../module/Service/src</directory>
            <directory suffix=".php">../../vendor/emr-delegator/emr-delegator/src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="../../build/reports/junit.xml" charset="UTF-8" highlights="false" />
        <log type="coverage-html" target="../../build/reports/coverage-html" charset="UTF-8" highlight="false" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="../../build/reports/coverage-clover.xml" charset="UTF-8" highlight="false" lowUpperBound="35" highLowerBound="70" />
    </logging>
</phpunit>
